<!doctype html>
<html ng-app="PremiPresentationEditor" ng-controller="PremiPresentationEditorCtrl">
  <head>
  	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    
    <link href="resources/foundation/css/foundation.min.css" rel="stylesheet" type="text/css">
    <script src="resources/foundation/js/mm-foundation.js"></script>
    <!--<script src="resources/foundation/js/foundation.min.js"></script>-->
    <script src="js/module.PremiPresentationEditor.js"></script>
    <script src="resources/foundation/js/vendor/modernizr.js"></script>
    <!-- css directory tree-->    
    <link href="resources/modules/FileTree/FileTree_style.css" rel="stylesheet" type="text/css">

  </head>
  <body>

  <!-- TOP MENU BEGIN -->

        <div ng-controller="TopBarDemoCtrl">
        <top-bar>
          <ul class="title-area">
            <li class="name">
              <h1><a href="#">PREMI</a></h1>
            </li>
            <li toggle-top-bar class="menu-icon"><a href="#">Menu</a></li>
          </ul>

          <top-bar-section>
            <!-- Right Nav Section -->
            <ul class="right">
              <li class="active"><a href="#">Active</a></li>
              <li has-dropdown>
                <a href="#">Dropdown</a>
                <ul top-bar-dropdown>
                  <li><a href="#">First link in dropdown</a></li>
                </ul>
              </li>
            </ul>

            <!-- Left Nav Section -->
            <ul class="left">
              <li><a href="#">Left</a></li>
            </ul>
          </top-bar-section>
        </top-bar>
      </div>
  
  <!-- TOP MENU END -->
  <div class="small-12 columns">
      <h1>PROJECT NAME</h1>
  </div>
      
  <!-- -->
  <nav  id="SectionMenu"  ng-controller="menuRadioController">
    <div class="button-group">
        <button ng-repeat="menuItem in menuItems" ng-attr-id="'{{menuItem.key}}'" class="button MenuRadioButtons" ng-model="radioSectionModel"  btn-radio="'{{menuItem.key}}'">{{menuItem.txt}}</button>
    </div>
  </nav>
 
 <!-- -->
  
  
  
    <div id="MyProjects" ng-controller="myProjectsController"></div>  
  
    <div id="PresentationEditor" ng-controller="PresentationEditorController"></div>  
  
    <div id="InfographicEditor" ng-controller="InfographicEditorController"></div>
  
   <canvas id="slide" width="800" height="600" style="border:1px solid #000000;"></canvas>
      
   
      
      
      
    <!--
    <div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h1>Hello {{yourName}}!</h1>
    </div>
    -->
    
   <!--  fabric-js per edit canvas via CDN -->    
   <!-- <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.5.0/fabric.min.js"></script>  -->
   <script type="text/javascript" src="resources/modules/fabric.js/fabric.js-1.5.0/dist/fabric.min.js"></script>
   
   <script src="js/module.slide.editor.js"></script>
   <script>
   var canvas = document.getElementById("slide");
   var img = document.createElement("img");
	img.src = canvas.toDataURL("image/png");
   document.write('<img src="'+img.src+'"/><a href="'+img.src+'" download>scarica</a>');
   alert(img);
  
   </script>
  </body>
</html>
