<fieldset>
    <legend>common fields</legend>
    <div class="row">
        <div class="large-6 columns">
            <label>X
                <input type="number" placeholder="{{objectSelected.left}}" />
            </label>
        </div>
        <div class="large-6 columns">
            <label>Y
                <input type="number" placeholder="" />
            </label>
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            <label>Height
                <input type="number" placeholder="" />
            </label>
        </div>
        <div class="large-6 columns">
            <label>Width
                <input type="number" placeholder="" />
            </label>
        </div>
    </div>
</fieldset>